{{- $name := coalesce .Values.deployment.name .Values.serviceProperties.name -}}
{{- $namespace := coalesce .Values.deployment.namespace .Values.serviceProperties.namespace -}}
{{- $enabled := .Values.deployment.enabled -}}

{{ if $enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $name }}
  namespace: {{ $namespace }}
  labels:
    app: {{ $name }}
spec:
  replicas: {{ .Values.deployment.replicaCount }}
  selector:
    matchLabels:
      app: {{ $name }}
  template:
    metadata:
      name: {{ $name }}
      labels:
        app: {{ $name }}
    spec:
      containers:
        - name: {{ $name }}
          image: "{{ .Values.deployment.image.repository }}:{{ .Values.deployment.image.tag | toString }}"
          imagePullPolicy: {{ .Values.deployment.image.pullPolicy }}
          {{ if .Values.deployment.args }}
          args:
            {{- range .Values.deployment.args }}
            - {{ . | quote }}
            {{- end }}
          {{ end }}
          {{ if .Values.resources.enabled }}
          ports:
            {{- range .Values.deployment.ports }}
            - name: {{ .name }}
              containerPort: {{ .containerPort }}
              protocol: {{ .protocol }}
            {{- end }}
          {{- end }}

          {{ if .Values.resources.enabled }}
          resources:
            limits:
              cpu: {{ .Values.resources.limits.cpu }}
              memory: {{ .Values.resources.limits.memory }}
            requests:
              cpu: {{ .Values.resources.requests.cpu }}
              memory: {{ .Values.resources.requests.memory }}
          {{- end }}
          {{ if or (.Values.configMap.enabled) (.Values.secrets.enabled) }}
          envFrom:
          {{ if .Values.configMap.enabled}}
            - configMapRef:
                name: {{ coalesce .Values.configMap.name .Values.serviceProperties.name }}
            {{ if .Values.secrets.enabled }}
            - secretRef:
                name: {{ coalesce .Values.secrets.name .Values.serviceProperties.name }}
            {{- end }}
          {{- end }}
          {{- end }}
      restartPolicy: {{ .Values.deployment.restartPolicy}}
{{ end }}